{% layout 'components/templates/default' %}

{% assign pageTitle = post.title %}

{% assign codeinjection_head = post.codeinjection_head %}
{% assign codeinjection_foot = post.codeinjection_foot %}

{% assign bodyClass = 'post' %}

{% block content %}
    <div class="post__title">{% include "components/atoms/title" text: post.title %}</div>
    <div class="post__hero">
        {% if post.feature_image %}
            {% include "components/atoms/hero" image: post.feature_image, alt: post.title, srcset: "365,405,1215", sizes: "(min-width: 575px) calc(75vw), calc(100vw - 50px)", loading: "eager" %}
        {% endif %}
    </div>

    <div class="post__meta post__meta--cosmetic"></div>
    <div class="post__meta">
        {% include "components/molecules/post-meta" author: post.primary_author, date: post.published_at, tags: post.tags, text: post.html %}
    </div>
    
    <div class="post__content">
        {% include "components/organisms/editor-content" html: post.html %}
    </div>

    <div class="post__footer">
        {% if post.primary_tag and post.related.size > 0 %}
            {% include "components/molecules/related-posts" posts: post.related, tag: post.primary_tag %}
        {% endif %}
        {% include "components/molecules/related-posts" posts: post.latest, title: "Also on other topics" %}
    </div>
{% endblock %}

{% block seo -%}
    <!--Twitter Card-->
    <meta name="twitter:site" content="{{ site.twitter }}">
    <meta name="twitter:creator" content="{{ post.primary_author.twitter }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
    <meta name="twitter:title" content="{{ pageTitle }} – {{ site.title }}">
    <meta name="twitter:description" content="{{ post.excerpt }}">
    {% if post.feature_image_resized %}
    <meta name="twitter:image" content="{{ post.feature_image_resized }}">
    {% endif %}

    <!--Schema-->
    <link rel="author" href="{{ site.url }}">
    <link rel="publisher" href="{{ site.url }}">
    <meta itemprop="name" content="{{ pageTitle }} – {{ site.title }}">
    <meta itemprop="description" content="{{ post.excerpt }}">
    {% if post.feature_image_resized %}
    <meta itemprop="image" content="{{ post.feature_image_resized }}">
    {% endif %}

    <!-- Facebook OpenGraph -->
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ pageTitle }} – {{ site.title }}">
    {% if post.feature_image_resized %}
    <meta property="og:image" content="{{ post.feature_image_resized }}">
    {% endif %}
    <meta property="og:description" content="{{ post.excerpt }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:locale" content="{{ site.lang }}">
    <meta property="article:author" content="{{ site.url }}">

    <!-- Structured Data -->
    {% jsonLdScript meta, "post", post.keywords %}
{%- endblock -%}

{% include 'components/templates/default' %}